#.gitignore
/build/
/.vs/
/.vscode/*.log
/results/*.json
/results/*.log
/results/*.tmp
/results/header_space/
/results/whitebox/
!/results/.gitkeep
/state/*.tmp
/state/mock_state.json
/state/live_state.json
